*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ededed;
}
input,button{
    border: none;
    outline: none;
    background: none;
}
.nav{
    margin: 40px auto 40px;
    text-align: center;
    font-size: 20px;
}
.cont{
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: burlywood;
}
.form{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px 0;
}
.sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100px;
    padding-left: 260px;
}
button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: blue;
    font-size: 15px;
    cursor: pointer;
}
.img{
    overflow: hidden;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 560px;
    height: 500%;
    
    background-image: url(/IMAGES/food.jpg);
    background-size: cover;

}